/* src/pages/Find.css */
.find-container {
	padding: 20px;
	text-align: center;
	color: #051960;
}

.find-options {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.find-card {
	width: 150px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #78a3eb;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
}

.find-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
	.find-card {
		width: 100px;
		height: 80px;
	}
}
