/* src/pages/Find.css */
.find-container {
	padding: 20px;
	text-align: center;
}

.find-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #591da9;
}

.find-sections {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.find-item {
	width: 250px;
	padding: 20px;
	background: #fbc2eb;
	color: #051960;
	border-radius: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.find-item:hover {
	transform: translateY(-10px);
}
