/* src/pages/WhyUs.css */
.why-us-container {
	padding: 20px;
	text-align: center;
}

.why-us-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #43459d;
}

.why-us-sections {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.why-us-item {
	width: 250px;
	padding: 20px;
	background: #78a3eb;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-us-item:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
